<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>
<a href="/people">people</a>
<table>
  <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.title %></td>
      </tr>
  <% end %>
</table>